@import "tailwindcss";

@layer base{
    body{
        margin:0;
        @apply bg-primaryBackground;
        @apply text-primaryBase;

    }
}

@theme{
    --font-display: "Satoshi", "sans-serif";
    --color-primaryTitle: #ffc300;
    --color-primaryContent: #003566;
    --color-primarySubcontent: #001d3d;
    --color-primaryBase: #fdf0d5;
    --color-primaryAccent: #f4d35e;
    --color-primaryBackground: #000814;
    
}


@keyframes append-animate {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.new-arrow {
    animation: append-animate 0.5s ease-out;
}